@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&family=DM+Sans&family=Roboto:wght@300&family=Yeon+Sung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&family=DM+Sans&family=Roboto:wght@300&family=Yeon+Sung&display=swap');
*{
    margin: 0;
    padding: 0;
}
.sidebar{
    position:absolute;
    background-color:rgb(128, 128, 128);
    width: 250px;
    font-family: 'Fira Sans', sans-serif;
    height: 100vh;
    transition: transform 0.3s ease-in;
}
.sidebar nav{
padding: 45px;
/* height: 100vh; */
}

.sidebar nav li{
    list-style: none;
    font-size: 27px;
    padding: 33px 0;
}
.sidebar nav li a{
    text-decoration: none;
    color: black;
}

.main{
    /* background-color: yellow; */
    width: 90vw;
}

.container{
    display: flex;
}

.infoContainer{
    background-color: rgb(198 24 142 / 89%);
    width: 80vw;
    height: 58vh;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}

.devInfo{
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}
.hello{
font-size:3em;
font-family: 'Roboto', sans-serif;
}
.name{
font-size: 3em;
font-weight: bold;
font-family: 'Fira Sans', sans-serif;
}
.about{
font-size: 2.5em;
}
.moreabout{
    margin-top: 23px;
    font-size: 22px;
    font-family: 'Fira Sans', sans-serif;
}
.buttons{
    margin-top: 2.2em;
    font-size: 16px;
}
.btn{
    border-radius: 22px;
    padding: 10px 14px;
    font-size: 2em;
    color: white;
    background-color: dodgerblue;
    margin:  3px 3px;
    font-weight: bold;
    cursor: pointer;
}
.btn-sm{
    font-size: 14px;
    padding: 7px 13px ;
    margin: 10px 0;
}
.btn:hover{
    background-color: white;
    color: dodgerblue;
}
.devPic img{
    height: 58vh;
}

/* contact page */
.contactform{
    padding: 0 34px;
    /* padding-top: 144px; */
    font-family: 'Fira Sans', sans-serif;
    margin: 0 88px;
}

.contactform h1{
    font-family: 'Roboto', sans-serif;
    /* text-align: center; */
    /* padding: 12px 0; */
}

.contactform form div{
    padding: 10px 0;
    display: flex;

flex-direction: column;
}
.contactform form div input{
    /* width: 26vw; */
    border-radius: 5px;
    margin: 6px 0 0 0 ;
    padding: 3px;
}
.contactform form form{
    margin: 0 40px;
}

#emailHelp{
    font-size: 15px;
    color: midnightblue;
    margin: 0 5px;
}

#form-check{
flex-direction: row;
}

#form-check input{
    width: 24px;
    margin: 3px 0;
}

/* blog */
.blogItem {
margin: 20px;
font-family: 'Fira Sans', sans-serif;
}
.blogContainer{
    margin: 0 88px;
}

h1{
    font-family: 'Fira Sans', sans-serif;
    margin: 23px;
}

 p{
    font-family: 'Roboto', sans-serif;
}
.intro{
    margin: 0 88px;
}

.intro h2{
    font-family: 'Fira Sans', sans-serif;
    margin: 12px;
}

.intro p{
    font-family: 'Roboto', sans-serif;
    margin: 12px;
}

.skillcontainer{
    padding: 12px;
}

.skillItem{
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
.skill{
    width: 265px;
    height: 6px;
    background-color: red;
    border: 2px solid black;
}

.hundred{
    width: 265px;
    background-color: blueviolet;
}
.fifty{
    width: 125px;
    background-color: aqua;
}
.t5{
    width: 75px;
    background-color: yellow;
}
.sidebarGo{
    transform: translate(-443px,0px);
    position: absolute;
} 
.hamburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}
.cross{
margin-left: 155px;
margin-top: 10px;
}
.ham{
    margin-top: 10px;
    margin-left: 10px;
}

 @media (max-width:1615px) {
    *{
    /* background-color: rgb(255, 0, 93); */
}
.buttons{
    font-size: 6px;
}
.devInfo{
    font-size:10px;
}
/* .devPic{
    display: none;
}  */
.intro, .blogContainer, .contactform{
    margin:50px 8px;
}
} 